<div class="container employeeBox" ng-repeat="empl in vm.results | orderBy: 'first_name'">
    <div class="container">
        <div>
            <center>
                <h1>{{ empl.first_name + " " + empl.last_name }} </h1>
                <h2>{{ empl.e_mail }} </h2>
            </center>
        </div>
        <div>
            <ol>
                <li>Parking Space : {{ empl.opt1 }} </li>
                <li>Home Office : {{ empl.opt2 }} </li>
                <li>Alcohol Consumption : {{ empl.opt3 }} </li>
                <li>Toilet Access : {{ empl.opt4 }} </li>
                <li>Weekly Proctology Exams : {{ empl.opt5 }} </li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-8">
                <a href="#/edit"><button class="btn btn-primary" ng-click="vm.employeeToEdit(empl)">Edit Employee</button></a>
                <button class="btn btn-danger" ng-click="vm.deleteEmployee(empl)">Delete Employee</button>
            </div>
        </div>
    </div>
</div>

<button id="goToTopBtn" class="btn btn-success" ng-click="vm.goToTop()">Go To Top</button>
