<div>
        <h2 class="centered">{{loginCtrl.title}}</h2>


    <form name="clientLogin" class="centered loginForm">
        <div>
            <md-input-container>
              <input name="userName" type="text" placeholder="Name" ng-required="true" ng-model="loginCtrl.user.name">
              <div ng-messages="clientLogin.userName.$error">
                <div ng-message="required">User Name is required.</div>
              </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
              <input type="text" placeholder="Password" ng-required="true" name="userPassword" ng-model="loginCtrl.user.password">
              <div ng-messages="clientLogin.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
              </div>
            </md-input-container>
        </div>

           <md-button class="md-raised md-primary" ng-click="loginCtrl.login()">Login</md-button>
           <md-button class="md-primary" ng-click="loginCtrl.register()">Register</md-button>
    </form>
 </div>
