body {
    background-color: lightblue;
}

#headerDiv {
    position: fixed;
    width: 100%;
}

#btnAddContainer {
    background-color: lightblue;
}

#mainContainer {
    height: auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8%;
}

#btnAddNewEmp {
    margin-left: 92%;
}

#newEmployee {
    border:solid;
    width: 80%;
    background-color:lightseagreen;
}

#addNew {
    margin-top: 30px;
    position: static;
}

#dataContainer {
    width: 80%;
    background-color: #ffffff;
}

#footerDiv {
    background-color: #ffffff;
    height: 40px;
}

#goToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.employeeBox {
    border: solid;
}

.img {
    width: 130px;
    height: 130px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
