body {
    background-color: lightblue;
}

#headerDiv {
    position: fixed;
    width: 100%;
}

#btnAddContainer {
    background-color: lightblue;
}

#mainContainer {
    height: auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 8%;
}

#btnAddNewEmp {
    margin-left: 92%;
}

#newEmployee {
    border:solid;
    width: 80%;
    background-color:lightseagreen;
}

#addNew {
    margin-top: 30px;
    position: static;
}

#dataContainer {
    width: 80%;
    background-color: #ffffff;
}

#footerDiv {
    background-color: #ffffff;
    height: 40px;
}

#goToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.employeeBox {
    border: solid;
}

.img {
    width: 130px;
    height: 130px;
}

#loginForm {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.centered {
    position: fixed;
    top: 20%;
    left: 40%;
    background-color: #ffffff;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
