<div class="container-fluid">
    <h2 class="centered">{{registerCtrl.title}}</h2>

    <form name="clientRegister" class="centered loginForm">
        <div>
            <md-input-container>
              <input name="userName" type="text" placeholder="Name" ng-required="true" ng-model="registerCtrl.user.name">
              <div ng-messages="clientRegister.userName.$error">
                <div ng-message="required">User Name is required.</div>
              </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
              <input type="password" placeholder="Password" ng-required="true" name="userPassword" ng-model="registerCtrl.user.password">
              <div ng-messages="clientRegister.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
              </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
              <input type="password" placeholder="Repeat Password" ng-required="true" name="userPassword" ng-model="registerCtrl.repeatPassword">
              <div ng-messages="clientRegister.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
              </div>
            </md-input-container>
        </div>

        <md-button class="md-raised md-primary" ng-disabled="clientRegister.$invalid" ng-click="registerCtrl.checkPasswords()">Register</md-button>
        <md-button class="md-primary" ng-click="registerCtrl.login()">Login</md-button>
    </form>
</div>
