<div>
    <h1>{{vm.title}}</h1>


    <form name="clientLogin" id="loginForm" class="centered">
        <div>
            <md-input-container>
              <input name="userName" type="text" placeholder="Name" ng-required="true" ng-model="vm.user.name">
              <div ng-messages="clientLogin.userName.$error">
                <div ng-message="required">User Name is required.</div>
              </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
              <input type="text" placeholder="Password" ng-required="true" name="userPassword" ng-model="vm.user.password">
              <div ng-messages="clientLogin.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
              </div>
            </md-input-container>
        </div>

        <div>
            <md-input-container>
              <input type="text" placeholder="Repeat Password" ng-required="true" name="userPassword" ng-model="vm.repeatPassword">
              <div ng-messages="clientLogin.userPassword.$error">
                <div ng-message="required">Your password is required.</div>
              </div>
            </md-input-container>
        </div>

           <md-button class="md-raised md-primary" ng-click="vm.register()">Register</md-button>
    </form>
</div>
